@import "tailwindcss";

button {
  @apply cursor-pointer;
}
.animate {
  @apply  transition-all duration-150 ease-in-out;
}
@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.word-break {
  max-width: 100%;
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: pre-wrap;

}